@import '../../styles/variables';

.add-task-form {
  padding: 0 8px;
  margin-bottom: 16px;

  .line {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin: 0 -8px;
    @media (max-width: $bp-sm) {
      justify-content: flex-end;
    }
  }

  .col {
    padding: 0 8px;
    flex: 1 1 auto;
    @media (max-width: $bp-sm) {
      flex: 0 0 100%;
      margin-bottom: 8px;
    }
  }
  .btn-col {
    padding: 0 8px;
    flex: 0 0 $btn-min-width;
    .btn {
      height: 100%;
    }
  }
}
